<ul class="nav nav-pills nav-stacked" style="margin-left: 20px; font-size: small">
    <div ng-repeat="c in nd.childtoshow">
        <li class="label-default" style="margin-bottom: 5px;">
            <span ng-show="!c.isChecked"><i class="fa fa-square-o" ng-click="nd.togtree({elem:c,set:false})"></i> {{ c.name}} </span>
            <span ng-show="c.isChecked"><i class="fa fa-check-square-o" ng-click="nd.togtree({elem:c,set:true})"></i> {{ c.name }}</span>
            <span ng-show="!c.isExpanded" style="margin-right: 10px; float: right"><i class="fa fa-angle-left" ng-click="nd.exptree({elem:c,set:false})"></i></span>
            <span ng-show="c.isExpanded" style="margin-right: 10px; float: right"><i class="fa fa-angle-right" ng-click="nd.exptree({elem:c,set:true})"></i></span>
        </li>
        <div ng-show="c.isExpanded">
            <node source ="nd.source" hierarchy="nd.hierarchy" name="c.name" level="c.level"></node>
        </div>
    </div>


</ul>

